$f1: 'Cormorant Garamond', serif;
$f2: 'Josefin Sans', sans-serif;
$f3: 'Kaushan Script', cursive;
$f4: 'Lobster', cursive;
$f5: 'Nova Flat', cursive;
$f6: 'Pacifico', cursive;
$f7: 'Poiret One', cursive;
$f8: 'Satisfy', cursive;
$f9: 'Taviraj', serif;
$f10: 'Ubuntu', sans-serif