// Imports 

//@import 'reset';      // resets styles from code in _reset.scss
@import 'fonts';


// Variables
$main-font: #5D5956;
$alt-font: #FFF;
$sidebar-bg: #4E90D1;
$fade-color: rgba(255, 255, 255, .5);
$page-bg: rgba(0, 0, 0, .05);
$date-color: #5cc1da;
$line: #D5D0D8;


// Document styling
html, body {
  color: $main-font;
  background: $page-bg;
  font-weight: 400; }

h1, h2, h3, h4, p, li, ul {
  font-family: $f2;
  font-weight: 400; }

.title {
  font-weight: 300; }

.fadeTextColor {
  color: $fade-color; }

#name h1 {
  font-family: $f4; }

.container-fluid {
  max-width: 1000px; }

.padSides {
  padding: 20px 20px 0 20px; }


//Profile Image
.profImg, .nameHolder {
  margin-top: 20px; }
  .profImg {
  margin-bottom: 30px;
  background: url(../assets/img/me.jpg) no-repeat center 0px !important;
  background-size: cover !important; }


// Main Content
.nameHolder {
  text-align: center !important; }
  #name h1 {
    font-size: 5vmin;
    text-shadow: 3px 3px rgba(0,0,0, .2); }
  #name p {
    font-size: 2vmin; }

.card {
  box-shadow: 0px 0px 10px rgba(0,0,0, .3);
  padding: 20px 0;
  margin-bottom: 30px;
  background: $alt-font;
  position: relative;
  transition: all .5s; }
  .card:hover {
    transition: .3s;
    color: $alt-font;
    background: $sidebar-bg; }

.iconSpace {
  text-align: center;
  font-size: 6vmin;
  padding: 0 0 0 20px; }
.sectionTitle {
  border-bottom: 2px solid $main-font;
  padding-left: 0 !important;
  padding-top: 8px; }
  .sectionTitle h1 {
    font-size: 5vmin;
    padding: 0;
    margin: 0 0 10px 0; }

.content .jobContainer, .content .schoolContainer {
  padding: 0;
  border-bottom: 2px solid $line; }
  .content .noBorder {
    border-bottom: none; }

.content .position, .content .honorTitle {
  font-size: 2.8vmin;
  font-weight: 600;
  margin-top: 30px; }
  .content .date {
    color: $date-color;
    font-size: 2.2vmin;
    font-weight: 400;
    margin-bottom: 20px; }
  .content .jobDescription {
    font-size: 2vmin; }

.techPic {
  margin: 20px 0; }
  .techPic img {
    transition: all .5s;
    width: 100%;
    border-radius: 5%; }
    .techPic img:hover {
      transition: .3s;
      box-shadow: 0px 0px 80px rgba(255,255,255, 1);
    }

// ----- Sidebar ----- //

.sidebar {
  color: $alt-font;
  background: $sidebar-bg; }
  .sidebar:hover {
    background: rgba(0,0,0, .9); }

.social {
  clear: left; }
  .socialIcon {
    text-align: center;
    font-size: 4vmin; 
    color: white;
    transition: all .3s; }
    .socialIcon .fa, .contactInfo .fa {
      color: white; }
    .socialIcon img {
      height: 4vmin;
      transition: all .3s; }
      .socialIcon:hover {
        transition: .3s;
        filter: opacity(60%); }
    .account {
      margin: 0; }
    .padRight {
      padding: 0 40px 0 15px; }

.contactInfo h3, .socialInfo h3 {
  font-size: 4vmin;
  padding-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 2px solid $alt-font; }
  .contactInfo .fa {
    font-size: 3vmin; }

// ----- Media Queries ----- //

@media (min-width: 768px) {
  .content {
      float: right !important;
      position: relative;
      top: -160px; }
  .profImg {
    min-height: 300px; }
  .shrinkText {
    font-size: 1.3vmin; }
  .socialIcon {
    clear: both; }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  .profImg {
    min-height: 500px; }
  .row {
    max-width: 500px;
    margin: 0 auto !important; }
}

@media screen and (max-width: 767px) {
  .profImg {
    height: 70vh;
    margin: 20px auto;  }
  #name h1 {
    font-size: 10vmin; }
  #name p {
    font-size: 3vmin; }
  .row {
    max-width: 500px;
    margin: 0 auto !important; 
  }
  .social {
    text-align: center; }
    .socialIcon {
      font-size: 10vmin; }
      .socialIcon img {
        position: relative;
        top: -3px;
        height: 9vmin; }
  .invis {
    display: none; }
  .contactInfo .row .col-xs-3 {
    text-align: right; }
  .content .position, .content .major {
    font-size: 3.8vmin; }
  .content .date {
    font-size: 2.8vmin; }
  .content .jobDescription, .honorTitle {
    font-size: 3vmin; }
  .title {
    font-weight: 400; }
}

